%h1 Каталог ссылок на образовательные материалы по отраслям знаний
%p Список доступных для посещения сайтов в сети Интернет формируется по данным каталога.

#catalog
  - @sectors.each do |sector|
    %h2= sector.name
    .cat_sector_disciplines
      - if params[:sector_id].to_i == sector.id
        - @disciplines.each do |discipline|
          %h3= discipline.name
          .cat_discipline_addresses
            - if params[:discipline_id].to_i == discipline.id
              %ul
                - @addresses.each do |address|
                  %li #{link_to address.url, address.normalized_url} (#{link_to address.domain, "http://"+address.normalized_domain+"/"})
              %p= link_to 'Скрыть интернет-адреса', url_for(:sector_id => sector.id, :discipline_id => nil), :class => "catalog_hide_addresses", :'data-sector-id' => sector.id
            - else
              %p= link_to 'Показать интернет-адреса', url_for(:sector_id => sector.id, :discipline_id => discipline.id), :class => "catalog_show_addresses", :'data-sector-id' => sector.id, :'data-discipline-id' => discipline.id
        %p= link_to 'Скрыть дисциплины', url_for(:sector_id => nil, :discipline_id => nil), :class => "catalog_hide_disciplines", :'data-sector-id' => sector.id
      - else
        %p= link_to 'Показать дисциплины', url_for(:sector_id => sector.id), :class => "catalog_show_disciplines", :'data-sector-id' => sector.id

%p
  Данный каталог так же доступен в форматах 
  #{link_to 'XML', catalog_path(:format => :xml, :sector_id => nil)} и 
  #{link_to 'JSON', catalog_path(:format => :json, :sector_id => nil)}.
