%h1 Каталог ссылок на образовательные материалы по дисциплинам
%p Список доступных для посещения сайтов в сети Интернет формируется по данным каталога.

#catalog
  - @disciplines.each do |discipline|
    %h2= discipline.name
    .cat_discipline_addresses
      - if params[:discipline_id].to_i == discipline.id
        %ul
          - @addresses.each do |address|
            %li #{link_to address.url, address.normalized_url} (#{link_to address.domain, "http://"+address.normalized_domain+"/"})
        %p= link_to 'Скрыть интернет-адреса', url_for(:discipline_id => nil), :class => "catalog_hide_addresses"
      - else
        %p= link_to 'Показать интернет-адреса', url_for(:discipline_id => discipline.id), :class => "catalog_show_addresses", :'data-discipline-id' => discipline.id

%p
  Данный каталог так же доступен в форматах 
  #{link_to 'XML', catalog_path(:format => :xml, :sector_id => nil)} и 
  #{link_to 'JSON', catalog_path(:format => :json, :sector_id => nil)}.
