= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "form-horizontal"}) do |f|
  %fieldset
    %legend #{t("devise.labels.sign_in")}

  .control-group
    = f.label :uid, :class => "control-label"
    .controls
      = f.text_field :uid

  .control-group
    = f.label :password, :class => "control-label"
    .controls
      = f.password_field :password

  - if devise_mapping.rememberable?
    .control-group
      .controls
        = f.label :remember_me, raw("#{f.check_box(:remember_me)}#{f.label(:remember_me, :class => "checkbox")}"), :class => "checkbox"

  %p
    %span.label.label-important Примечание:
    Для входа используются единые учётные данные АмГУ. Используйте выданное вам имя пользователя (вида <tt>imya.familiya</tt>) и пароль для входа.

  .form-actions
    %button.btn.btn-primary{type: "submit"} #{t("devise.labels.sign_in")}
