!!!
%html{lang: I18n.locale}
  %head
    %meta{charset: "utf-8"}
    %title #{t("application.name")}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar
      .navbar-inner
        .container-fluid
          %ul.nav
            = render "layouts/main_menu"
          %ul.nav.pull-right
            = render "layouts/user_menu"
    .container-fluid
      .row-fluid
        - unless notice.nil?
          %p.alert.alert-info= notice
        - unless alert.nil?
          %p.alert.alert-error= alert

        = yield

      .ajax_spinner
        .ajax_spinner_image
